 .u-section-1 {
  min-height: 400px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1400px) / 2)  + 600px);
  left: 0;
  right: auto;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1400px) / 2)  + 600px);
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  font-family: Anton;
  margin: 97px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 24px auto 60px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 295px;
  height: 80px;
  transform-origin: center bottom;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 600px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 600px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 600px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 600px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2)  + 220px);
  }

  .u-section-1 .u-shape-2 {
    width: 271px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-line-1 {
    top: 223px;
    left: auto;
    right: 317px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 302px;
  }

  .u-section-1 .u-shape-1 {
    width: 174px;
    left: auto;
    right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2)  + 124px);
    left: 0;
    right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    top: 201px;
    right: 217px;
  }
} .u-section-2 {
  min-height: 17px;
}

.u-section-2 .u-shape-1 {
  height: 15px;
  margin-top: -7px;
  margin-bottom: 9px;
}.u-section-3 .u-sheet-1 {
  min-height: 138px;
}

.u-section-3 .u-text-1 {
  width: 784px;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 16px auto 37px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 17px;
}

.u-section-4 .u-shape-1 {
  height: 15px;
  margin-top: -7px;
  margin-bottom: 9px;
} .u-section-5 {
  background-image: none;
  min-height: 50vh;
}

.u-section-5 .u-shape-1 {
  height: 282px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -189px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 46px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 149px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 156px;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-5 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 39px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 46px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 149px;
}

.u-section-5 .u-container-layout-6 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 118px;
}

.u-section-5 .u-container-layout-7 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-5 .u-icon-4 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 77px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin: -457px calc(((100% - 1400px) / 2)  + 430px) 60px calc(((100% - 1400px) / 2));
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 129px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 32px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 38px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 123px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 98px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 63px;
  }

  .u-section-5 .u-text-9 {
    width: 429px;
    margin-right: 406px;
    margin-left: calc(((100% - 940px) / 2)  + 398px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 58px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 49px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 58px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 97px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 311px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 720px) / 2)  + 305px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1397px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -199px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 74px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 87px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 146px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin: -1337px calc(((100% - 540px) / 2)  + 111px) 60px calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1335px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -198px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 55px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 47px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 55px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 92px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -1311px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  min-height: 17px;
}

.u-section-6 .u-shape-1 {
  height: 15px;
  margin-top: -7px;
  margin-bottom: 9px;
}